/* Main container */
.book-container {
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
}

/* Grid layout */
.book-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default: 1 column for mobile */
  gap: 24px;
}

/* Medium screens (tablets) - 2 columns */
@media (min-width: 640px) {
  .book-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large screens (smaller laptops) - 3 columns */
@media (min-width: 768px) {
  .book-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large screens (desktops) - 4 columns */
@media (min-width: 1024px) {
  .book-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Card styling */
.book-card {
  background-color: white;
  height: auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  padding: 16px;
}

.book-card:hover {
  transform: scale(1.05);
}

/* Image styling */
.book-image {
  width: 100%; /* Full width of card */
  height: auto; /* Fixed height */
  object-fit: cover; /* Image fits without distortion */
  
}

/* Content inside card */
.book-content {
  padding: 16px;
}

/* Title styling */

.book-title {
  font-size: 1.22rem;
  color: #5B2C6F;
  margin-bottom: 8px;
  font-family: 'Times New Roman', serif;
  line-clamp: 2; /* Directly using line-clamp */
  overflow: hidden; /* Hide overflow */
  display: block; /* Make sure it is a block element */
  max-height: calc(2 * 1.5rem); /* Adjust max-height based on line height */
  line-height: 1.5rem; /* Set line height */
  cursor: pointer; /* Pointer cursor for clickable title */
}



/* Author styling */
.book-author {
  font-size: 0.875rem;
  color: #FF1493;
  margin-bottom: 8px;
}

/* Price styling */
.book-price {
  font-size: 1.125rem;
  color: #FF8C00;
  font-weight: bold;
  margin-top: 8px;
}

/* Stars styling */
.stars {
  margin: 8px 0;
}

/* Buy Now button */
.buy-now-btn {
  width: 100%;
  background-color: #9B7EBD;
  color: white;
  padding: 12px 0;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
  background-color: #9B7EBD;
}




