
.footer {
    background-color: #3b1e54;
    max-width: 1200px;
    width: 100%;
    height: auto;
    padding: 8px; 
    display: flex;
    flex-direction: column;
    row-gap: 0.2em; 
    text-align: center;
    color: white;
  }
  

  .footer .top {
    font-size: 1.1rem;
    margin-bottom: 0.2em; 
    color: white;
  }
  
  .navigation {
    display: flex;
    gap: 1.5em; 
    justify-content: center;
    margin-bottom: 0.2em; 
  }
  
  .navigation > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .codebook {
    margin-bottom: 0.2em;
    
  }
  
  .follow {
    display: flex;
    gap: 1em; 
    justify-content: center;
    margin-top: 0.6em; 
  }
  
  .footer p {
    margin: 0.2em 0; 
    font-size: 0.85rem;
    color: white;
  }
  
  .footer h2 {
    font-size: 1rem; 
    margin-bottom: 0.4em; 
  }
  
  .size {
    height : 30px;
    width : 30px;
  }