.sectionTwo {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  height: auto;
  max-width: 1200px;
  margin-bottom: 1em;
}

.book {
  height: 80px;
  width: 80px;
  color: #9b7ebd;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.text h2 {
  font-size: 2.5rem;
  color: #3b1e54;
}

.text p {
  color: #3b1e54;
  line-height: 1.5;
  font-size: 1.2rem;
}

.image {
  max-width: 450px;
}

@media (max-width: 768px) {
  .sectionOne {
    flex-direction: column-reverse;
    gap: 2em;
    text-align: center;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .text h2 {
    font-size: 2rem;
    padding: 0 3em;
  }

  .text p {
    font-size: 1rem;
    padding: 0 3em;
  }
}
